app/backend/node_modules/

actions-runner/


# Terraform
**/.terraform/*
**/*.tfstate
**/*.tfstate.*
crash.log
crash.*.log

# Terraform vars
*.tfvars
*.tfvars.json

# Node
**/node_modules/

# OS
.DS_Store
Thumbs.db
